.correcto {
  background-color: #e0ffe0;
  padding: 10px;
  border: 1px solid #0a0;
  margin-top: 15px;
}


#cuerpo {
  margin: 2%;
  padding: 0;

  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #ffffff;
}

#estilo {
  display: flex;
  flex-direction: column;
  background-color: rgba(73, 61, 86, 0.499);
  width: 500px;
  padding: 20px;
  border: 3px solid #2b2831;
 
  justify-content: center;
    align-items: stretch; 
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#h1{

    position: absolute;
    
      color: rgb(255, 255, 255);
      margin-top: -10px;
    
 font-size: x-large;
font-family: 'Times New Roman', Times, serif;

}

.errores {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;

}




.campo-grupo textarea,
.campo-grupo label {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 0;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  margin: 1px;
}



.campo-grupo input{
  width: 100%;
  padding: 8px 0px;
  color: rgb(0, 0, 0); 
  background-color: #fbfafd; 
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}


.errores {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}





#botones {
  display: flex;
  
  margin: 15px; 
  margin-top: 20px;
  padding-right: 10px;
}

#botones button {
  background-color: #000; 
  color: #fff; 
  border: none;
  padding: 10px 25px;
  border-radius: 8px;


}